
  <div style="background:#F2D8A7 !important" class="jumbotron">
    <div class="page-header">
      <h1 class="display-2"><small class="text-muted">Welcome to </small><%= 'eat'.split('').shuffle.join %>Overflow<small class="text-muted">!</small></h1>
    </div>

    <p class="lead">Where authenticated users can ask questions and receive off-topic answers.</p>

    <% if logged_in? %>
      <%= link_to "Ask a question!", '/questions/new', class: "btn btn-primary btn-lg" %>
    <% else %>
      <%= link_to  "Sign up now!", new_user_path, class: "btn btn-primary btn-lg" %>
    <% end %>

  </div>

<%= image_tag "cat_overflow.jpg", class: "img-fluid", alt: 'responsive cat' %>
